body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(29,72,4);
    background: radial-gradient(circle, rgb(131,185,27) 0%,rgb(29,72,4) 100%);

    font-size: 16px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    color: white;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1em 1.5em;

    display: flex;
    flex-direction: column;
    gap: 1em;

    justify-content: flex-start;
    align-items: flex-start;
}

.header img{
    width:300px;
}

.text{
    max-width: 720px;
}

.video {
    flex: 1;
    width: 100%;
}

.video iframe {
    margin: 0;
    padding: 0;
    
    aspect-ratio: 16 / 9;
}

/* Adjust which direction is controlling the size of the video based on the viewport aspect ratio.
    This is necessary because Vimeo is doing their own internal aspect-ratio handling.
    The 64/55 value here is dependent on other factors like margins/etc. so may need adjusting
    if those change.
 */
@media (min-aspect-ratio: 64 / 55) {
    .video iframe {
        height: 100%;
    }
}

@media (max-aspect-ratio: 64 / 55) {
    .video iframe {
        width: 100%;
        
    }
}

#navigation{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

#navigation a {
    font-size: 1.3em;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0.2em 0.5em;
    cursor: pointer;
    background-color: #00000022;
    color: white;
    border: none;
    border-radius: 1em;
    transition: background-color 0.3s;
}

#navigation a:hover {
    background-color: #ffaa00;
}